
::selection {
   background-color: #5400d1;
   color: #fff;
  }
.app{
    display: flex;
    text-transform: capitalize;

}

.heading{
    font-weight: 500;
    font-weight: 500;
    background-color: #eee;
    font-size: 17px;
}

pre{
    padding: 20px;
    border-radius: 6px;
    background-color: #070707b0;
    color: #fff;
    width: 500px;
    font-size: 20px;
    font-weight: 500;
    overflow-x: auto;

    ::selection{
        background-color: #fff;
        color: #000;
    }
}